<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
										 CONTENT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="content-wrapper" class="faq-page">
  <div class="container">
    <!-- crumbs -->
    <div class="whole-width crumbs">
      You are here: <a href="index.html">Home</a> FAQ
    </div>
  </div>
  <!-- title -->
  <div class="title">
    <div class="left-arr"></div>
    <div class="right-arr"></div>
    <div class="container">
      <div class="columns ten alpha title-inner">
        <h1>Frequently asked questions</h1>
        <p>This is Beautiful a very clean, responsive theme. </p>
      </div>
      <div class="columns six omega icons">
        <a href="index.html" class="ico-home"><span>Home</span></a><a href="contact.html" class="ico-contact"><span>Contact</span></a><a href="#" class="ico-sitemap"><span>Sitemap</span></a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- /title -->

  <div class="container">
    <div class="separator31"></div>

    <div class="full-width">
      <h3 class="sub-title">Most Asked Questions</h3>

      <p class="RoundFirstLetter"><mark>R</mark>andomised words which don't look even slightly believable. If you are going to use a passage you need to be sure there isn't anything embarrassing hidden in the middle. Established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that. Established fact that a reader will be distracted content of a page when looking at its layout. </p>

      <div class="dbl-dott-wrapper"></div>
      <div class="column two-thirds alpha">
        <h3 class="sub-title"><mark class="colored-grey">Theme</mark> Most Popular</h3>
        <div class="separator3"></div>
        <!-- Accordation -->
        <div class="accordation-items type1">
          <!-- Item -->
          <div class="accordation-item">
            <div class="accordation-item-header pt-sans"><a href="#" class="active">Majority have alteration in some form.</a></div>
            <div class="accordation-item-body">
              <p>Variations of passages of Lorem Ipsum available, but the majority suffered alteration in some form, by injected humour, or randomised words which don't look. Even slightly believable. Be sure there isn't anything embarrassing hidden middle of text.  Suffered alteration in some form, by injected humour, or randomised words which don't look. Even slightly believable. Be sure there isn't anything embarrassing hidden middle of text. </p>
            </div>
          </div>
          <!-- Item -->
          <div class="accordation-item">
            <div class="accordation-item-header pt-sans"><a href="#">Randomised words which don't look even.</a></div>
            <div class="accordation-item-body">
              <p>Variations of passages of Lorem Ipsum available, but the majority suffered alteration in some form, by injected humour, or randomised words which don't look. Even slightly believable. Be sure there isn't anything embarrassing hidden middle of text.  Suffered alteration in some form, by injected humour, or randomised words which don't look. Even slightly believable. Be sure there isn't anything embarrassing hidden middle of text. </p>
            </div>
          </div>
          <!-- Item -->
          <div class="accordation-item">
            <div class="accordation-item-header pt-sans"><a href="#">Making this the first true generator.</a></div>
            <div class="accordation-item-body">
              <p>Variations of passages of Lorem Ipsum available, but the majority suffered alteration in some form, by injected humour, or randomised words which don't look. Even slightly believable. Be sure there isn't anything embarrassing hidden middle of text.  Suffered alteration in some form, by injected humour, or randomised words which don't look. Even slightly believable. Be sure there isn't anything embarrassing hidden middle of text. </p>
            </div>
          </div>
        </div>
        <!-- /Accordation -->

        <div class="dbl-dott-wrapper mt-6"></div>
        <div class="separator6"></div>
        <h3 class="sub-title"><mark class="colored-grey">Theme</mark> Business</h3>
        <div class="separator2"></div>
        <!-- Accordation -->
        <div class="accordation-items type1">
          <!-- Item -->
          <div class="accordation-item">
            <div class="accordation-item-header pt-sans"><a href="#">Majority have alteration in some form.</a></div>
            <div class="accordation-item-body">
              <p>Variations of passages of Lorem Ipsum available, but the majority suffered alteration in some form, by injected humour, or randomised words which don't look. Even slightly believable. Be sure there isn't anything embarrassing hidden middle of text.  Suffered alteration in some form, by injected humour, or randomised words which don't look. Even slightly believable. Be sure there isn't anything embarrassing hidden middle of text. </p>
            </div>
          </div>
          <!-- Item -->
          <div class="accordation-item">
            <div class="accordation-item-header pt-sans"><a href="#">Randomised words which don't look even.</a></div>
            <div class="accordation-item-body">
              <p>Variations of passages of Lorem Ipsum available, but the majority suffered alteration in some form, by injected humour, or randomised words which don't look. Even slightly believable. Be sure there isn't anything embarrassing hidden middle of text.  Suffered alteration in some form, by injected humour, or randomised words which don't look. Even slightly believable. Be sure there isn't anything embarrassing hidden middle of text. </p>
            </div>
          </div>
          <!-- Item -->
          <div class="accordation-item">
            <div class="accordation-item-header pt-sans"><a href="#">Making this the first true generator.</a></div>
            <div class="accordation-item-body">
              <p>Variations of passages of Lorem Ipsum available, but the majority suffered alteration in some form, by injected humour, or randomised words which don't look. Even slightly believable. Be sure there isn't anything embarrassing hidden middle of text.  Suffered alteration in some form, by injected humour, or randomised words which don't look. Even slightly believable. Be sure there isn't anything embarrassing hidden middle of text. </p>
            </div>
          </div>
        </div>
        <!-- /Accordation -->

        <div class="dbl-dott-wrapper mt-6"></div>
      </div>
      <div class="column one-third omega">
        <div class="sep6"></div>
        <h3 class="sub-title">Have More Questions?</h3>
        <p class="mt-6 mb13"><img src="assets/backgrounds/ico/ico-more-question.png" alt="" class="align-left"> Established fact that a reader will be distracted by the readable content of a page when looking at its layout point that it has a more-or-less normal distribution of letters, as opposed to using.</p>
        <a href="contact.html" class="btn btn-blue"><span>Contact Us</span></a>
      </div>
      <div class="clear"></div>
    </div>
    <div class="separator9"></div>

  </div>
</div>
<!-- end content -->