<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
										 CONTENT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div id="content-wrapper">
  <div class="container">
    <!-- crumbs -->
    <div class="whole-width crumbs">
      You are here: <a href="index.html">Home</a>  Single Project
    </div>
  </div>
  <!-- title -->
  <div class="title">
    <div class="left-arr"></div>
    <div class="right-arr"></div>
    <div class="container">
      <div class="columns nine alpha title-inner">
        <h1>Single Project. Drive my Soul</h1>
        <p>This is Beautiful a very clean, responsive theme. </p>
      </div>
      <div class="columns seven omega project-navi">
        <a href="#" class="previous-project">Previous Project</a> | <a href="portfolio-3c.html" class="list-project">List</a> | <a href="#" class="next-project">Next Project</a>
      </div>
      <div class="clear"><!-- clear floats --></div>
    </div>
    <!-- /title -->
  </div>

  <div class="container">
    <div class="separator39"></div>



    <div class="column two-thirds">
      <div class="gallery">
        <div class="gallery-container">
          <ul>
            <li><a href="assets/large/im6.jpg" class="fancybox" ><%= image_tag('slider/single.jpg', alt: '')%> <span class="over-bg-portfolio"></span></a></li>
            <li><a href="assets/large/im5.jpg" class="fancybox" ><%= image_tag('slider/single2.jpg', alt: '')%> <span class="over-bg-portfolio"></span></a></li>
            <li><a href="assets/large/im7.jpg" class="fancybox" ><%= image_tag('slider/single3.jpg', alt: '')%> <span class="over-bg-portfolio"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="column one-third portfolio-text">
      <h2>Drive my soul</h2>
      <div class="dbl-dott-wrapper"></div>
      <div class="category-project"><strong>Category:</strong> Web Design</div>
      <div class="work-by"><strong>Awesome Work by:</strong>  <a href="#">Julie de Waroquier</a></div>
      <div class="dbl-dott-wrapper"></div>
      <p>Variations of passages of Lorem Ipsum available, but the majority suffered alteration in some form, by injected humour, or randomised words which don't look.</p>
      <p>Even slightly believable. Be sure there isn't anything embarrassing hidden middle of text.</p>
      <a href="http://www.juliedewaroquier.com" target="_blank" class="blue-btn">Visit Website</a>
    </div>
    <div class="clear"></div>
    <div class="separator9"></div>
  </div>
</div>
<!-- end content -->

